# JWT Secret Key used for signing and verifying JSON Web Tokens
JWT_SECRET=

# MongoDB connection string for connecting to the database
MONGODB_URL=

# Hostname of the mail server used for sending emails
MAIL_HOST=

# Username of the email account used for sending emails
MAIL_USER=

# Password of the email account used for sending emails
MAIL_PASS=







# MAIL_HOST = smtp.gmail.com
# MAIL_USER = codehelpdummy1@gmail.com
# MAIL_PASS = dzgvtybtweasxrqd

# JWT_SECRET = "Ranjeet"
# FOLDER_NAME = "CodeHelp"

# RAZORPAY_KEY = rzp_test_t4LUM04KXwHc
# RAZORPAY_SECRET = DOdtPrjZRxQejIdj1vAzm0MY
# CLOUD_NAME =dcln6ng9e
# API_KEY = 877244747572325
# API_SECRET = 1TukPnWU_-03NZu2_icnbZu34CE
# MONGODB_URL="MONGODB_URL=mongodb+srv://Ranjeet:w2lNUopTItdqfXmc@studynotion.dud6d.mongodb.net/studynotionDB"
# PORT = 4000